@import "../public/fonts/fonts";

:root {
    --background-color: #F7F7F7;
    --text-color: #000;
    --fields-color: #fff;
    --buttons-color: #40BCFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Istok Web';
}

body {
    background-color: var(--background-color);
}